In [1]:
import pandas as pd

In [2]:
dt = pd.read_csv("C:/Users/MKaranja/Desktop/Streamlit/btractv3/data/crosses/ArushaBananaData.csv")

In [3]:
dt.Number_of_Embryo_Rescued = pd.to_numeric(dt.Number_of_Embryo_Rescued)

In [26]:
dt = dt[dt['Number_of_Embryo_Rescued'] > 0]

In [27]:
dt = dt[['Location','Crossnumber','Embryo_Rescue_Date','Number_of_Embryo_Rescued']]
dt['id'] = dt.Crossnumber

In [29]:
dt2 = pd.DataFrame(dt.id.str.split('_',1).tolist(),
                                 columns = ['Prefix','Suffix'])

In [65]:
df = pd.concat([dt.reset_index(drop=True), dt2], axis=1)
df.pop('id')

0       NM201804_(136468C2/136357)_1
1                     NM201806_450_1
2                     NM201806_450_2
3                     NM201806_450_3
4                     NM201806_450_4
                   ...
213     NM201902_(136350C2/161541)_5
214     NM201902_(152842C1/161541)_9
215    NM201902_(152842C1/161541)_12
216    NM201902_(152842C1/161541)_23
217     NM201904_(152644C1/161582)_7
Name: id, Length: 218, dtype: object

In [66]:
df['Suffix'].str.get(0)

0      (
1      4
2      4
3      4
4      4
      ..
213    (
214    (
215    (
216    (
217    (
Name: Suffix, Length: 218, dtype: object

In [56]:
df['Suffix']

0      (136468C2/136357)
1                    450
2                    450
3                    450
4                    450
             ...
213    (136350C2/161541)
214    (152842C1/161541)
215    (152842C1/161541)
216    (152842C1/161541)
217    (152644C1/161582)
Name: Suffix, Length: 218, dtype: object

In [34]:
def label_data(name):
    if name == 'Crosses':
        dt = crosses()
        dt = dt[dt['Number_of_Embryo_Rescued'] > 0]
        dt = dt[['Location','Crossnumber','Embryo_Rescue_Date','Number_of_Embryo_Rescued']]
        dt['id'] = dt.Crossnumber
        dt2 = pd.DataFrame(dt.id.str.split('_',1).tolist(),
                                 columns = ['Prefix','Suffix'])
        df = pd.concat([dt.reset_index(drop=True), dt2], axis=1)
        df.pop('id')
    else:
        dt = plantlets()
        if name == 'Germinating Embryo':            
            dt = dt[dt['Copies'] > 0]
            dt = dt[['Location','PlantletID','Subculture_Date','Copies']]
            dt['id'] = dt.PlantletID
            dt2 = pd.DataFrame(dt.id.str.split('_',2).tolist(),
                                     columns = ['Prefix','Suffix','EmbryoNo'])
            df = pd.concat([dt.reset_index(drop=True), dt2], axis=1)
            df.pop('id')
        elif name == 'Subcultures':
            dt = dt[dt['Copies'] > 0]
            dt = dt[['Location','PlantletID','Subculture_Date','Copies']]
            dt['id'] = dt.PlantletID
            dt2 = pd.DataFrame(dt.id.str.split('_',2).tolist(),
                                     columns = ['Prefix','Suffix','EmbryoNo'])
            df = pd.concat([dt.reset_index(drop=True), dt2], axis=1)
            df.pop('id')            
        elif name == 'Rooting':
            dt = dt[dt['Copies'] > 0]
            dt = dt[['Location','PlantletID','Subculture_Date','Copies']]
            dt['id'] = dt.PlantletID
            dt2 = pd.DataFrame(dt.id.str.split('_',2).tolist(),
                                     columns = ['Prefix','Suffix','EmbryoNo'])
            df = pd.concat([dt.reset_index(drop=True), dt2], axis=1)
            df.pop('id')            
        elif name == 'Weaning1/ Sending Out':
            dt = dt[dt['Copies'] > 0]
            dt = dt[['Location','PlantletID','Subculture_Date','Copies']]
            dt['id'] = dt.PlantletID
            dt2 = pd.DataFrame(dt.id.str.split('_',2).tolist(),
                                     columns = ['Prefix','Suffix','EmbryoNo'])
            df = pd.concat([dt.reset_index(drop=True), dt2], axis=1)
            df.pop('id')            
        elif name == 'Weaning2':
            dt = dt[dt['Copies'] > 0]
            dt = dt[['Location','PlantletID','Subculture_Date','Copies']]
            dt['id'] = dt.PlantletID
            dt2 = pd.DataFrame(dt.id.str.split('_',2).tolist(),
                                     columns = ['Prefix','Suffix','EmbryoNo'])
            df = pd.concat([dt.reset_index(drop=True), dt2], axis=1)
            df.pop('id')
        elif name == 'Screenhouse':
            dt = dt[dt['Copies'] > 0]
            dt = dt[['Location','PlantletID','Subculture_Date','Copies']]
            dt['id'] = dt.PlantletID
            dt2 = pd.DataFrame(dt.id.str.split('_',2).tolist(),
                                     columns = ['Prefix','Suffix','EmbryoNo'])
            df = pd.concat([dt.reset_index(drop=True), dt2], axis=1)
            df.pop('id')
        elif name == 'Hardening':
            dt = dt[dt['Copies'] > 0]
            dt = dt[['Location','PlantletID','Subculture_Date','Copies']]
            dt['id'] = dt.PlantletID
            dt2 = pd.DataFrame(dt.id.str.split('_',2).tolist(),
                                     columns = ['Prefix','Suffix','EmbryoNo'])
            df = pd.concat([dt.reset_index(drop=True), dt2], axis=1)
            df.pop('id')
        elif name == 'Openfield':
            dt = dt[dt['Number_in_Openfield'] > 0]
            dt = dt[['Location','PlantletID','Openfield_Transfer_Date','Number_in_Openfield']]
            dt['id'] = dt.PlantletID
            dt2 = pd.DataFrame(dt.id.str.split('_',2).tolist(),
                                     columns = ['Prefix','Suffix','EmbryoNo'])
            df = pd.concat([dt.reset_index(drop=True), dt2], axis=1)
            df.pop('id')

In [36]:
dz = pd.read_csv("C:/Users/MKaranja/Desktop/Streamlit/btractv3/data/plantlets/ArushaPlantlets.csv")

In [67]:
dz.columns

Index(['Location', 'Crossnumber', 'PlantletID', 'Mother', 'Father',
       'Germination_Date', 'Germination_Submission_Date', 'Copies',
       'Subculture_Date', 'Number_Rooting', 'Date_of_Rooting',
       'Number_Sent_Out', 'Sending_Out_Date', 'Weaning_2_Plantlets',
       'Weaning_2_Date', 'Number_in_Screenhouse', 'Screenhouse_Transfer_Date',
       'Number_in_Hardening', 'Hardening_Date', 'Number_in_Openfield',
       'Openfield_Transfer_Date'],
      dtype='object')

In [42]:
dt = plantlets()
dt = dt[dt['Copies'] > 0]
dt = dt[['Location','PlantletID','Subculture_Date','Copies']]
dt['id'] = dt.PlantletID
dt2 = pd.DataFrame(dt.id.str.split('_',2).tolist(),
                             columns = ['Prefix','Suffix','EmbryoNo'])
df = pd.concat([dt.reset_index(drop=True), dt2], axis=1)
df.pop('id')

0       NM201804_(136468C2/136357)_1
1                     NM201806_450_1
2                     NM201806_450_2
3                     NM201806_450_3
4                     NM201806_450_4
                   ...
213     NM201902_(136350C2/161541)_5
214     NM201902_(152842C1/161541)_9
215    NM201902_(152842C1/161541)_12
216    NM201902_(152842C1/161541)_23
217     NM201904_(152644C1/161582)_7
Name: id, Length: 218, dtype: object

In [43]:
df.head()

,Location,PlantletID,Subculture_Date,Copies,Prefix,Suffix,EmbryoNo
0,Arusha,NM201804_(136468C2/136357)_1,2019-06-03 00:00:00+00:00,3.0,NM201804,(136468C2/136357),1
1,Arusha,NM201806_450_1,2019-06-03 00:00:00+00:00,7.0,NM201806,450,1
2,Arusha,NM201806_450_2,2019-06-03 00:00:00+00:00,2.0,NM201806,450,2
3,Arusha,NM201806_450_3,2019-06-03 00:00:00+00:00,5.0,NM201806,450,3
4,Arusha,NM201806_450_4,2019-06-03 00:00:00+00:00,2.0,NM201806,450,4

In [ ]:
if(nrow(plantlets)>0){
  if( 'Germination Date' %in% names(plantlets)){
    embryo_labels = plantlets %>%
      dplyr::select(Location, PlantletID, `Germination Date`, `Germination Submission Date`) %>%
      dplyr::filter(lubridate::year(`Germination Date`)>= 2018)
    labels = data.frame(stringr::str_split_fixed(embryo_labels$PlantletID,"_",3))
    colnames(labels) = c('Prefix','Suffix', "EmbryoNo")
    labels$Suffix = gsub("[)]","",(gsub("[(]","", labels$Suffix)))
    embryo_labels = cbind(embryo_labels,labels)
  }
}

In [ ]:
if(nrow(plantlets)>0){
  plantlet_labels = plantlets  %>%
    dplyr::select(`Location`,`PlantletID`,`Subculture Date`,Copies) %>%
    dplyr::filter(!is.na(`Subculture Date`) & lubridate::year(`Subculture Date`)>=2018)
  labels = data.frame(stringr::str_split_fixed(plantlet_labels$PlantletID,"_",3))
  colnames(labels) = c('Prefix','Suffix',"EmbryoNo")
  labels$Suffix = gsub("[)]","",(gsub("[(]","", labels$Suffix)))
  plantlet_labels = cbind(plantlet_labels,labels)
}

In [ ]:
banana_labels = bananadata %>%
 dplyr::filter(`Number of Embryo Rescued` > 0 & lubridate::year(`Embryo Rescue Date`)>=2018)

labels = data.frame(stringr::str_split_fixed(banana_labels$Crossnumber,"_",2))
colnames(labels) = c('Prefix','Suffix')
labels$Suffix = gsub("[)]","",(gsub("[(]","", labels$Suffix)))
banana_labels = cbind(banana_labels, labels)
banana_labels = banana_labels %>%
  dplyr::select(Location,Crossnumber,Prefix,Suffix,`Embryo Rescue Date`,`Number of Embryo Rescued`)